<%= provide(:title, "Home") %>
<div class="center hero-unit">
	<h1>Welcome to Rails Drills App 4</h1>
	<p>This is the home page of the <%= link_to "Rails Drills App", "#" %></p>
	<%= link_to "Sign Up!", signup_path, class: "btn btn-large btn-primary" %>
</div>