<%= provide(:title, "Sign Up") %>

<div class="row">
	<div class="span6 offset3">
		<h1>Sign Up</h1>
		<%= form_for(@user) do |f| %>
			<%= render 'shared/fields', f: f %>

			<br>
			<%= f.submit "Sign Up", class: "btn btn-primary btn-large" %>
		<% end %>
	</div>
</div>